<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Acadmica</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.action.Home</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdmissionRequest</display-name>
		<servlet-name>AdmissionRequest</servlet-name>
		<servlet-class>com.action.AdmissionRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegistrationCodeFormHandler</display-name>
		<servlet-name>RegistrationCodeFormHandler</servlet-name>
		<servlet-class>com.action.RegistrationCodeFormHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentSignupForm</display-name>
		<servlet-name>StudentSignupForm</servlet-name>
		<servlet-class>com.student.StudentSignupForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultySignupForm</display-name>
		<servlet-name>FacultySignupForm</servlet-name>
		<servlet-class>com.faculty.FacultySignupForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FullCourseDataFetcher</display-name>
		<servlet-name>FullCourseDataFetcher</servlet-name>
		<servlet-class>com.course.FullCourseDataFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentLogin</display-name>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.student.StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentDashboard</display-name>
		<servlet-name>StudentDashboard</servlet-name>
		<servlet-class>com.student.StudentDashboard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentLogout</display-name>
		<servlet-name>StudentLogout</servlet-name>
		<servlet-class>com.student.StudentLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePasswordStudent</display-name>
		<servlet-name>ChangePasswordStudent</servlet-name>
		<servlet-class>com.student.ChangePasswordStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DoubtHandler</display-name>
		<servlet-name>DoubtHandler</servlet-name>
		<servlet-class>com.student.DoubtHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfilePicUpdate</display-name>
		<servlet-name>ProfilePicUpdate</servlet-name>
		<servlet-class>com.student.ProfilePicUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentFilesUpload</display-name>
		<servlet-name>StudentFilesUpload</servlet-name>
		<servlet-class>com.student.StudentFilesUpload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteFile</display-name>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>com.student.DeleteFile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyLogin</display-name>
		<servlet-name>FacultyLogin</servlet-name>
		<servlet-class>com.faculty.FacultyLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyDashboard</display-name>
		<servlet-name>FacultyDashboard</servlet-name>
		<servlet-class>com.faculty.FacultyDashboard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyLogout</display-name>
		<servlet-name>FacultyLogout</servlet-name>
		<servlet-class>com.faculty.FacultyLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentDetailView</display-name>
		<servlet-name>StudentDetailView</servlet-name>
		<servlet-class>com.faculty.StudentDetailView</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentDetailEdit</display-name>
		<servlet-name>StudentDetailEdit</servlet-name>
		<servlet-class>com.faculty.StudentDetailEdit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentDoubtResponse</display-name>
		<servlet-name>StudentDoubtResponse</servlet-name>
		<servlet-class>com.faculty.StudentDoubtResponse</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AssignmentPost</display-name>
		<servlet-name>AssignmentPost</servlet-name>
		<servlet-class>com.faculty.AssignmentPost</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyFileUpload</display-name>
		<servlet-name>FacultyFileUpload</servlet-name>
		<servlet-class>com.faculty.FacultyFileUpload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteFacultyFile</display-name>
		<servlet-name>DeleteFacultyFile</servlet-name>
		<servlet-class>com.faculty.DeleteFacultyFile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteFacultyNotice</display-name>
		<servlet-name>DeleteFacultyNotice</servlet-name>
		<servlet-class>com.faculty.DeleteFacultyNotice</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyNoticePoster</display-name>
		<servlet-name>FacultyNoticePoster</servlet-name>
		<servlet-class>com.faculty.FacultyNoticePoster</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyPasswordChange</display-name>
		<servlet-name>FacultyPasswordChange</servlet-name>
		<servlet-class>com.faculty.FacultyPasswordChange</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyProfilePicUpdate</display-name>
		<servlet-name>FacultyProfilePicUpdate</servlet-name>
		<servlet-class>com.faculty.FacultyProfilePicUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.admin.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminDashboard</display-name>
		<servlet-name>AdminDashboard</servlet-name>
		<servlet-class>com.admin.AdminDashboard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminProfileUpdate</display-name>
		<servlet-name>AdminProfileUpdate</servlet-name>
		<servlet-class>com.admin.AdminProfileUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogout</display-name>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.admin.AdminLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminStudentDetailView</display-name>
		<servlet-name>AdminStudentDetailView</servlet-name>
		<servlet-class>com.admin.AdminStudentDetailView</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminEditStudent</display-name>
		<servlet-name>AdminEditStudent</servlet-name>
		<servlet-class>com.admin.AdminEditStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminFacultyDetailView</display-name>
		<servlet-name>AdminFacultyDetailView</servlet-name>
		<servlet-class>com.admin.AdminFacultyDetailView</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminEditFaculty</display-name>
		<servlet-name>AdminEditFaculty</servlet-name>
		<servlet-class>com.admin.AdminEditFaculty</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminNoticePoster</display-name>
		<servlet-name>AdminNoticePoster</servlet-name>
		<servlet-class>com.admin.AdminNoticePoster</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminProfilePicUpdate</display-name>
		<servlet-name>AdminProfilePicUpdate</servlet-name>
		<servlet-class>com.admin.AdminProfilePicUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegistrationCodeGenerator</display-name>
		<servlet-name>RegistrationCodeGenerator</servlet-name>
		<servlet-class>com.admin.RegistrationCodeGenerator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCourse</display-name>
		<servlet-name>DeleteCourse</servlet-name>
		<servlet-class>com.admin.DeleteCourse</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentPasswordRecovery</display-name>
		<servlet-name>StudentPasswordRecovery</servlet-name>
		<servlet-class>com.student.StudentPasswordRecovery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyPasswordRecovery</display-name>
		<servlet-name>FacultyPasswordRecovery</servlet-name>
		<servlet-class>com.faculty.FacultyPasswordRecovery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminPasswordRecovery</display-name>
		<servlet-name>AdminPasswordRecovery</servlet-name>
		<servlet-class>com.admin.AdminPasswordRecovery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CourseAddView</display-name>
		<servlet-name>CourseAddView</servlet-name>
		<servlet-class>com.faculty.CourseAddView</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyCourseManagement</display-name>
		<servlet-name>FacultyCourseManagement</servlet-name>
		<servlet-class>com.faculty.FacultyCourseManagement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminDeleteNotice</display-name>
		<servlet-name>AdminDeleteNotice</servlet-name>
		<servlet-class>com.admin.AdminDeleteNotice</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAdmissionRequest</display-name>
		<servlet-name>DeleteAdmissionRequest</servlet-name>
		<servlet-class>com.admin.DeleteAdmissionRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCodeRequest</display-name>
		<servlet-name>DeleteCodeRequest</servlet-name>
		<servlet-class>com.admin.DeleteCodeRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestCourseCode</display-name>
		<servlet-name>RequestCourseCode</servlet-name>
		<servlet-class>com.faculty.RequestCourseCode</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyCourseFileFetcher</display-name>
		<servlet-name>FacultyCourseFileFetcher</servlet-name>
		<servlet-class>com.faculty.FacultyCourseFileFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyCourseVideoFetcher</display-name>
		<servlet-name>FacultyCourseVideoFetcher</servlet-name>
		<servlet-class>com.faculty.FacultyCourseVideoFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyDeleteCourseItem</display-name>
		<servlet-name>FacultyDeleteCourseItem</servlet-name>
		<servlet-class>com.faculty.FacultyDeleteCourseItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentCourseVideoFetcher</display-name>
		<servlet-name>StudentCourseVideoFetcher</servlet-name>
		<servlet-class>com.student.StudentCourseVideoFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentCourseFileFetcher</display-name>
		<servlet-name>StudentCourseFileFetcher</servlet-name>
		<servlet-class>com.student.StudentCourseFileFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminCourseFilesFetcher</display-name>
		<servlet-name>AdminCourseFilesFetcher</servlet-name>
		<servlet-class>com.admin.AdminCourseFilesFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminCourseVideoFetcher</display-name>
		<servlet-name>AdminCourseVideoFetcher</servlet-name>
		<servlet-class>com.admin.AdminCourseVideoFetcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminDeleteCourseItem</display-name>
		<servlet-name>AdminDeleteCourseItem</servlet-name>
		<servlet-class>com.admin.AdminDeleteCourseItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminStudentSearch</display-name>
		<servlet-name>AdminStudentSearch</servlet-name>
		<servlet-class>com.action.AdminStudentSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentSearch</display-name>
		<servlet-name>StudentSearch</servlet-name>
		<servlet-class>com.action.StudentSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TeacherSearch</display-name>
		<servlet-name>TeacherSearch</servlet-name>
		<servlet-class>com.admin.TeacherSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentUsernameValidation</display-name>
		<servlet-name>StudentUsernameValidation</servlet-name>
		<servlet-class>com.action.StudentUsernameValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FacultyStudentSearch</display-name>
		<servlet-name>FacultyStudentSearch</servlet-name>
		<servlet-class>com.faculty.FacultyStudentSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SubjectRegCodeRequest</display-name>
		<servlet-name>SubjectRegCodeRequest</servlet-name>
		<servlet-class>com.student.SubjectRegCodeRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteSubjectCodeRequest</display-name>
		<servlet-name>DeleteSubjectCodeRequest</servlet-name>
		<servlet-class>com.faculty.DeleteSubjectCodeRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GenrateCourseRegCode</display-name>
		<servlet-name>GenrateCourseRegCode</servlet-name>
		<servlet-class>com.faculty.GenrateCourseRegCode</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddMoreCourse</display-name>
		<servlet-name>AddMoreCourse</servlet-name>
		<servlet-class>com.student.AddMoreCourse</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateStudentExcel</display-name>
		<servlet-name>CreateStudentExcel</servlet-name>
		<servlet-class>com.admin.CreateStudentExcel</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateFacultyExcel</display-name>
		<servlet-name>CreateFacultyExcel</servlet-name>
		<servlet-class>com.admin.CreateFacultyExcel</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateCourseExcel</display-name>
		<servlet-name>CreateCourseExcel</servlet-name>
		<servlet-class>com.admin.CreateCourseExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdmissionRequest</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationCodeFormHandler</servlet-name>
		<url-pattern>/registrationcodeverify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentSignupForm</servlet-name>
		<url-pattern>/studentsignup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultySignupForm</servlet-name>
		<url-pattern>/facultysignup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FullCourseDataFetcher</servlet-name>
		<url-pattern>/fullcoursedata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/studentlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDashboard</servlet-name>
		<url-pattern>/studentdashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogout</servlet-name>
		<url-pattern>/studentlogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordStudent</servlet-name>
		<url-pattern>/changepassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoubtHandler</servlet-name>
		<url-pattern>/doubthandle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfilePicUpdate</servlet-name>
		<url-pattern>/profilepicupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentFilesUpload</servlet-name>
		<url-pattern>/studentfileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/deletefile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyLogin</servlet-name>
		<url-pattern>/facultylogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyDashboard</servlet-name>
		<url-pattern>/facultydashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyLogout</servlet-name>
		<url-pattern>/facultylogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailView</servlet-name>
		<url-pattern>/studentdetailview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailEdit</servlet-name>
		<url-pattern>/editstudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDoubtResponse</servlet-name>
		<url-pattern>/doubtresponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignmentPost</servlet-name>
		<url-pattern>/assignmentpost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyFileUpload</servlet-name>
		<url-pattern>/facultyfileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFacultyFile</servlet-name>
		<url-pattern>/deletefacultyfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFacultyNotice</servlet-name>
		<url-pattern>/deletefacultynotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyNoticePoster</servlet-name>
		<url-pattern>/facultynoticeposter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyPasswordChange</servlet-name>
		<url-pattern>/facultypasswordchange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyProfilePicUpdate</servlet-name>
		<url-pattern>/facultypicupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDashboard</servlet-name>
		<url-pattern>/admindashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminProfileUpdate</servlet-name>
		<url-pattern>/adminprofileupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminStudentDetailView</servlet-name>
		<url-pattern>/adminstudentfulldetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminEditStudent</servlet-name>
		<url-pattern>/admineditstudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminFacultyDetailView</servlet-name>
		<url-pattern>/adminfacultydetailview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminEditFaculty</servlet-name>
		<url-pattern>/admineditfaculty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminNoticePoster</servlet-name>
		<url-pattern>/adminnotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminProfilePicUpdate</servlet-name>
		<url-pattern>/adminprofilepic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationCodeGenerator</servlet-name>
		<url-pattern>/generatecode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCourse</servlet-name>
		<url-pattern>/deletecourse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentPasswordRecovery</servlet-name>
		<url-pattern>/studentpasswordrecovery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyPasswordRecovery</servlet-name>
		<url-pattern>/facultypasswordrecovery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminPasswordRecovery</servlet-name>
		<url-pattern>/adminpasswordrecovery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseAddView</servlet-name>
		<url-pattern>/courseaddview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyCourseManagement</servlet-name>
		<url-pattern>/facultycoursemanagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDeleteNotice</servlet-name>
		<url-pattern>/admindeletenotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAdmissionRequest</servlet-name>
		<url-pattern>/deleteadrequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCodeRequest</servlet-name>
		<url-pattern>/deletecoderequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestCourseCode</servlet-name>
		<url-pattern>/requestcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyCourseFileFetcher</servlet-name>
		<url-pattern>/facultycoursefilerequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyCourseVideoFetcher</servlet-name>
		<url-pattern>/facultycoursevideorequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyDeleteCourseItem</servlet-name>
		<url-pattern>/facultydeletecourseitem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentCourseVideoFetcher</servlet-name>
		<url-pattern>/studentcoursevideorequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentCourseFileFetcher</servlet-name>
		<url-pattern>/studentcoursefilefetcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCourseFilesFetcher</servlet-name>
		<url-pattern>/admincoursefilesfetcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCourseVideoFetcher</servlet-name>
		<url-pattern>/admincoursevideofetcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDeleteCourseItem</servlet-name>
		<url-pattern>/admindeletecourseitem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminStudentSearch</servlet-name>
		<url-pattern>/adminstudentsearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentSearch</servlet-name>
		<url-pattern>/searchstudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherSearch</servlet-name>
		<url-pattern>/teachersearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentUsernameValidation</servlet-name>
		<url-pattern>/studentusernamevalidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacultyStudentSearch</servlet-name>
		<url-pattern>/facultystudentsearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectRegCodeRequest</servlet-name>
		<url-pattern>/subjectcoderequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSubjectCodeRequest</servlet-name>
		<url-pattern>/delsubcoderequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenrateCourseRegCode</servlet-name>
		<url-pattern>/gencourseregcode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMoreCourse</servlet-name>
		<url-pattern>/addmorecourse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateStudentExcel</servlet-name>
		<url-pattern>/createstudentexcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateFacultyExcel</servlet-name>
		<url-pattern>/createfacultyexcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateCourseExcel</servlet-name>
		<url-pattern>/createcourseexcel</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.io.IOException</exception-type >
        <location>/errorpage.jsp</location>
	</error-page>
		<error-page>
		<exception-type>java.sql.SQLException</exception-type >
        <location>/errorpage.jsp</location>
	</error-page>
</web-app>
